:root {
    --night-bordeaux: #5E0B15;
    --burnt-rose: #90323D;
    --pale-oak: #D9CAB3;
    --bronze: #BC8034;
    --dusty-taupe: #8C7A6B;
}

#link-container {
    flex-direction: column;
    display: flex;
    width: 25%;
    margin-left: 15%;
    border-left: 10px groove var(--dusty-taupe);
    border-bottom: 10px groove var(--dusty-taupe);
    color: var(--pale-oak);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    font-size: xx-large;
    color: var(--bronze);
}

body {
    background-color: var(--night-bordeaux);
    cursor: url("../Websites/media/decepticon_cursor.png"), default;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

a {
    border: 5px inset var(--burnt-rose);
    padding: 5px;
    color: var(--pale-oak);
}
