body {
    background-image: url('../media/bg.gif')
}

h1 {
    color: rgb(153, 237, 229);
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 10px;
    padding: 5px;
    border: 2px, ridge, brown;
}
h2 {
    color: rgb(153, 237, 229);
    margin: 5px;
}

#link-container {
    flex-direction: column;
    display: flex;
}

#content-container{
    color:rgb(153, 237, 229);
    align-content: center;
    margin-left: 60%;
    margin-bottom: 40px;
    border: 7px solid black;
    line-height: 30px;
}

a {
    margin: 20px;
    margin-right: 50%;
    border: 5px ridge black;
}


